nav {
    display: flex;
    align-items: center;
    background-color: #d0f0d6;
    box-shadow: 0 2px 2px 2px rgba(73, 114, 97, 0.23);
    position: sticky;
    top: 0%;
}

.logo-container {
    display: flex;
    padding: 1rem;
    /* margin: 1rem; */
}

.menu-container {
    display: flex;
    /* gap: 1rem; */
    text-align: center;
    /* background-color: red; */
}

.company-name {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0 1rem;
}

nav ul {
    display: flex;
    gap: 0.5rem;
}

nav ul li {
    display: block;
    border-radius: 0.5rem;
    text-decoration: none;
    /* margin: 0 1rem; */
}
nav ul li a {
    display: block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

img {
    position: relative;
    height: 2.3rem;
}

.active {
    background-color: rgba(43, 235, 117, 0.815);
}

nav ul li a:not(.active):hover {
    background-color: rgba(143, 245, 182, 0.979);
}

nav .hamburger {
    display: none;
    position: absolute;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .hamburger span {
    height: 0.4rem;
    width: 100%;
    background: black;
    border-radius: 0.2rem;
}

@media (max-width: 620px) {
    nav .hamburger {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: start;
    }

    .menu-container {
        width: 100%;
        /* background-color: red; */
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0 0.5rem;
        align-items: start;
    }

    nav ul.open {
        display: flex;
    } 
}