.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    background-color: #d0f0d6;
    box-shadow: 0 2px 2px 2px rgba(73, 114, 97, 0.23);
}

.brand-name {
    color: black;
    font-size: 1.3rem;
    margin-left: 1rem;
}

.hamburger {
    display: block;
}

nav a {
    display:block;
    padding: 15px 2%;
}